
  
  #deck{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
    flex-wrap: wrap;
    
  }
  
  .centering{
    display: flex;
    justify-content: center;
  }

  
  img{
    object-fit: cover;
    width: 100px;
    height: 100px;
    margin: 5px;
  }